h1,h5{
    display:block;
   text-align: center;
}
body {
    background-image: linear-gradient(to bottom right, rgb(132, 0, 255) , rgb(255, 0, 242));
    background-repeat:no-repeat;
     background-size: cover;
     height: 100vh;

  }
  label{
    color:white;
  }
/* 
  html {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: #70bg32;
    background-repeat:no-repeat;
    background: -webkit-linear-gradient( to left top, blue, red);
    background: -moz-linear-gradient( to left top, blue, red);
    background: -ms-linear-gradient( to left top, blue, red);
    background: -o-linear-gradient( to left top, blue, red);
    background: linear-gradient( to left top, blue, red);
} */